/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');*/

h1 {
        position: relative;
        padding: 0;
        margin: 0;
        font-family: cursive;
        font-weight: 700;
        font-size: 2rem;
        color: #080808;
        /*-webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;*/
    }

.btn-outline-danger
{
    width: 30%;
}

a.nav-link , .nav-item{
    border-right: 1px solid #999;
  }

  a.nav-link:last-child{
    border: none;
 }

 nav.navbar-light {
    border-bottom: 1px solid #999;
 }